## <a id='name'></a>NAME
   cf - A command line tool to interact with Cloud Foundry

## <a id='usage'></a>USAGE
   [environment variables] cf [global options] command [arguments...] [command options]

## <a id='version'></a>VERSION
   6.15.0+fa1bfe2-2016-01-13

## <a id='getting-started'></a>GETTING STARTED
Name   |   Description
------------|------------
   help  |  Show help
   login  |  Log user in
   logout  |  Log user out
   passwd  |  Change user password
   target  |  Set or view the targeted org or space
   api  |  Set or view target api url
   auth  |  Authenticate user non-interactively

## <a id='apps'></a>APPS
Name   |   Description
------------|------------
   apps  |  List all apps in the target space
   app  |  Display health and status for app
   push  |  Push a new app or sync changes to an existing app
   scale  |  Change or view the instance count, disk space limit, and memory limit for an app
   delete  |  Delete an app
   rename  |  Rename an app
   start  |  Start an app
   stop  |  Stop an app
   restart  |  Restart an app
   restage  |  Restage an app
   restart-app-instance  |  Terminate the running application Instance at the given index and instantiate a new instance of the application with the same index
   events  |  Show recent app events
   files  |  Print out a list of files in a directory or the contents of a specific file of an app running on the DEA backend
   logs  |  Tail or show recent logs for an app
   env  |  Show all env variables for an app
   set-env  |  Set an env variable for an app
   unset-env  |  Remove an env variable
   stacks  |  List all stacks (a stack is a pre-built file system, including an operating system, that can run apps)
   stack  |  Show information for a stack (a stack is a pre-built file system, including an operating system, that can run apps)
   copy-source  |  Make a copy of app source code from one application to another.  Unless overridden, the copy-source command will restart the application.
   create-app-manifest  |  Create an app manifest for an app that has been pushed successfully.
   get-health-check  |  get the health_check_type value of an app
   set-health-check  |  set health_check_type flag to either 'port' or 'none'
   enable-ssh  |  enable ssh for the application
   disable-ssh  |  disable ssh for the application
   ssh-enabled  |  Reports whether SSH is enabled on an application container instance
   ssh  |  SSH to an application container instance

## <a id='services'></a>SERVICES
Name   |   Description
------------|------------
   marketplace  |  List available offerings in the marketplace
   services  |  List all service instances in the target space
   service  |  Show service instance info
   create-service  |  Create a service instance
   update-service  |  Update a service instance
   delete-service  |  Delete a service instance
   rename-service  |  Rename a service instance
   create-service-key  |  Create key for a service instance
   service-keys  |  List keys for a service instance
   service-key  |  Show service key info
   delete-service-key  |  Delete a service key
   bind-service  |  Bind a service instance to an app
   unbind-service  |  Unbind a service instance from an app
   create-user-provided-service  |  Make a user-provided service instance available to cf apps
   update-user-provided-service  |  Update user-provided service instance name value pairs

## <a id='orgs'></a>ORGS
Name   |   Description
------------|------------
   orgs  |  List all orgs
   org  |  Show org info
   create-org  |  Create an org
   delete-org  |  Delete an org
   rename-org  |  Rename an org

## <a id='spaces'></a>SPACES
Name   |   Description
------------|------------
   spaces  |  List all spaces in an org
   space  |  Show space info
   create-space  |  Create a space
   delete-space  |  Delete a space
   rename-space  |  Rename a space
   allow-space-ssh  |  Allow SSH access for the space
   disallow-space-ssh  |  Disallow SSH access for the space
   space-ssh-allowed  |  Reports whether SSH is allowed in a space

## <a id='domains'></a>DOMAINS
Name   |   Description
------------|------------
   domains  |  List domains in the target org
   create-domain  |  Create a domain in an org for later use
   delete-domain  |  Delete a domain
   create-shared-domain  |  Create a domain that can be used by all orgs (admin-only)
   delete-shared-domain  |  Delete a shared domain

## <a id='routes'></a>ROUTES
Name   |   Description
------------|------------
   routes  |  List all routes in the current space or the current organization
   create-route  |  Create a url route in a space for later use
   check-route  |  Perform a simple check to determine whether a route currently exists or not.
   map-route  |  Add a url route to an app
   unmap-route  |  Remove a url route from an app
   delete-route  |  Delete a route
   delete-orphaned-routes  |  Delete all orphaned routes (e.g. those that are not mapped to an app)


[Top](#name
---cf---a-command-line-tool-to-interact-with-cloud-foundry

##-<a-id='usage'></a>usage
---[environment-variables]-cf-[global-options]-command-[arguments...]-[command-options]

##-<a-id='version'></a>version
---6.15.0+fa1bfe2-2016-01-13

##-<a-id='getting-started'></a>getting-started
name---|---description
------------|------------
---help--|--show-help
---login--|--log-user-in
---logout--|--log-user-out
---passwd--|--change-user-password
---target--|--set-or-view-the-targeted-org-or-space
---api--|--set-or-view-target-api-url
---auth--|--authenticate-user-non-interactively

##-<a-id='apps'></a>apps
name---|---description
------------|------------
---apps--|--list-all-apps-in-the-target-space
---app--|--display-health-and-status-for-app
---push--|--push-a-new-app-or-sync-changes-to-an-existing-app
---scale--|--change-or-view-the-instance-count,-disk-space-limit,-and-memory-limit-for-an-app
---delete--|--delete-an-app
---rename--|--rename-an-app
---start--|--start-an-app
---stop--|--stop-an-app
---restart--|--restart-an-app
---restage--|--restage-an-app
---restart-app-instance--|--terminate-the-running-application-instance-at-the-given-index-and-instantiate-a-new-instance-of-the-application-with-the-same-index
---events--|--show-recent-app-events
---files--|--print-out-a-list-of-files-in-a-directory-or-the-contents-of-a-specific-file-of-an-app-running-on-the-dea-backend
---logs--|--tail-or-show-recent-logs-for-an-app
---env--|--show-all-env-variables-for-an-app
---set-env--|--set-an-env-variable-for-an-app
---unset-env--|--remove-an-env-variable
---stacks--|--list-all-stacks-(a-stack-is-a-pre-built-file-system,-including-an-operating-system,-that-can-run-apps)
---stack--|--show-information-for-a-stack-(a-stack-is-a-pre-built-file-system,-including-an-operating-system,-that-can-run-apps)
---copy-source--|--make-a-copy-of-app-source-code-from-one-application-to-another.--unless-overridden,-the-copy-source-command-will-restart-the-application.
---create-app-manifest--|--create-an-app-manifest-for-an-app-that-has-been-pushed-successfully.
---get-health-check--|--get-the-health_check_type-value-of-an-app
---set-health-check--|--set-health_check_type-flag-to-either-'port'-or-'none'
---enable-ssh--|--enable-ssh-for-the-application
---disable-ssh--|--disable-ssh-for-the-application
---ssh-enabled--|--reports-whether-ssh-is-enabled-on-an-application-container-instance
---ssh--|--ssh-to-an-application-container-instance

##-<a-id='services'></a>services
name---|---description
------------|------------
---marketplace--|--list-available-offerings-in-the-marketplace
---services--|--list-all-service-instances-in-the-target-space
---service--|--show-service-instance-info
---create-service--|--create-a-service-instance
---update-service--|--update-a-service-instance
---delete-service--|--delete-a-service-instance
---rename-service--|--rename-a-service-instance
---create-service-key--|--create-key-for-a-service-instance
---service-keys--|--list-keys-for-a-service-instance
---service-key--|--show-service-key-info
---delete-service-key--|--delete-a-service-key
---bind-service--|--bind-a-service-instance-to-an-app
---unbind-service--|--unbind-a-service-instance-from-an-app
---create-user-provided-service--|--make-a-user-provided-service-instance-available-to-cf-apps
---update-user-provided-service--|--update-user-provided-service-instance-name-value-pairs

##-<a-id='orgs'></a>orgs
name---|---description
------------|------------
---orgs--|--list-all-orgs
---org--|--show-org-info
---create-org--|--create-an-org
---delete-org--|--delete-an-org
---rename-org--|--rename-an-org

##-<a-id='spaces'></a>spaces
name---|---description
------------|------------
---spaces--|--list-all-spaces-in-an-org
---space--|--show-space-info
---create-space--|--create-a-space
---delete-space--|--delete-a-space
---rename-space--|--rename-a-space
---allow-space-ssh--|--allow-ssh-access-for-the-space
---disallow-space-ssh--|--disallow-ssh-access-for-the-space
---space-ssh-allowed--|--reports-whether-ssh-is-allowed-in-a-space

##-<a-id='domains'></a>domains
name---|---description
------------|------------
---domains--|--list-domains-in-the-target-org
---create-domain--|--create-a-domain-in-an-org-for-later-use
---delete-domain--|--delete-a-domain
---create-shared-domain--|--create-a-domain-that-can-be-used-by-all-orgs-(admin-only)
---delete-shared-domain--|--delete-a-shared-domain

##-<a-id='routes'></a>routes
name---|---description
------------|------------
---routes--|--list-all-routes-in-the-current-space-or-the-current-organization
---create-route--|--create-a-url-route-in-a-space-for-later-use
---check-route--|--perform-a-simple-check-to-determine-whether-a-route-currently-exists-or-not.
---map-route--|--add-a-url-route-to-an-app
---unmap-route--|--remove-a-url-route-from-an-app
---delete-route--|--delete-a-route
---delete-orphaned-routes--|--delete-all-orphaned-routes-(e.g.## <a id='router-groups'></a>ROUTER GROUPS
Name   |   Description
------------|------------
   router-groups  |  List router groups

## <a id='buildpacks'></a>BUILDPACKS
Name   |   Description
------------|------------
   buildpacks  |  List all buildpacks
   create-buildpack  |  Create a buildpack
   update-buildpack  |  Update a buildpack
   rename-buildpack  |  Rename a buildpack
   delete-buildpack  |  Delete a buildpack

## <a id='user-admin'></a>USER ADMIN
Name   |   Description
------------|------------
   create-user  |  Create a new user
   delete-user  |  Delete a user
   org-users  |  Show org users by role
   set-org-role  |  Assign an org role to a user
   unset-org-role  |  Remove an org role from a user
   space-users  |  Show space users by role
   set-space-role  |  Assign a space role to a user
   unset-space-role  |  Remove a space role from a user

## <a id='org-admin'></a>ORG ADMIN
Name   |   Description
------------|------------
   quotas  |  List available usage quotas
   quota  |  Show quota info
   set-quota  |  Assign a quota to an org
   create-quota  |  Define a new resource quota
   delete-quota  |  Delete a quota
   update-quota  |  Update an existing resource quota
   share-private-domain  |  Share a private domain with an org
   unshare-private-domain  |  Unshare a private domain with an org

## <a id='space-admin'></a>SPACE ADMIN
Name   |   Description
------------|------------
   space-quotas  |  List available space resource quotas
   space-quota  |  Show space quota info
   create-space-quota  |  Define a new space resource quota
   update-space-quota  |  update an existing space quota
   delete-space-quota  |  Delete a space quota definition and unassign the space quota from all spaces
   set-space-quota  |  Assign a space quota definition to a space
   unset-space-quota  |  Unassign a quota from a space

## <a id='service-admin'></a>SERVICE ADMIN
Name   |   Description
------------|------------
   service-auth-tokens  |  List service auth tokens
   create-service-auth-token  |  Create a service auth token
   update-service-auth-token  |  Update a service auth token
   delete-service-auth-token  |  Delete a service auth token
   service-brokers  |  List service brokers
   create-service-broker  |  Create a service broker
   update-service-broker  |  Update a service broker
   delete-service-broker  |  Delete a service broker
   rename-service-broker  |  Rename a service broker
   migrate-service-instances  |  Migrate service instances from one service plan to another
   purge-service-offering  |  Recursively remove a service and child objects from Cloud Foundry database without making requests to a service broker
   purge-service-instance  |  Recursively remove a service instance and child objects from Cloud Foundry database without making requests to a service broker
   service-access  |  List service access settings
   enable-service-access  |  Enable access to a service or service plan for one or all orgs
   disable-service-access  |  Disable access to a service or service plan for one or all orgs

## <a id='security-group'></a>SECURITY GROUP
Name   |   Description
------------|------------
   security-group  |  Show a single security group
   security-groups  |  List all security groups
   create-security-group  |  Create a security group
   update-security-group  |  Update a security group
   delete-security-group  |  Deletes a security group
   bind-security-group  |  Bind a security group to a space
   unbind-security-group  |  Unbind a security group from a space
   bind-staging-security-group  |  Bind a security group to the list of security groups to be used for staging applications
   staging-security-groups  |  List security groups in the staging set for applications
   unbind-staging-security-group  |  Unbind a security group from the set of security groups for staging applications
   bind-running-security-group  |  Bind a security group to the list of security groups to be used for running applications
   running-security-groups  |  List security groups in the set of security groups for running applications
   unbind-running-security-group  |  Unbind a security group from the set of security groups for running applications

## <a id='environment-variable-groups'></a>ENVIRONMENT VARIABLE GROUPS
Name   |   Description
------------|------------
   running-environment-variable-group  |  Retrieve the contents of the running environment variable group
   staging-environment-variable-group  |  Retrieve the contents of the staging environment variable group
   set-staging-environment-variable-group Pass parameters as JSON to create a staging environment variable group  |  set-running-environment-variable-group Pass parameters as JSON to create a running environment variable group

## <a id='feature-flags'></a>FEATURE FLAGS
Name   |   Description
------------|------------
   feature-flags  |  Retrieve list of feature flags with status of each flag-able feature
   feature-flag  |  Retrieve an individual feature flag with status
   enable-feature-flag  |  Enable the use of a feature so that users have access to and can use the feature.
   disable-feature-flag  |  Disable the use of a feature so that users have access to and can use the feature.

## <a id='advanced'></a>ADVANCED
Name   |   Description
------------|------------
   curl  |  Executes a raw request, content-type set to application/json by default
   config  |  write default values to the config
   oauth-token  |  Retrieve and display the OAuth token for the current session
   ssh-code  |  Get a one time password for ssh clients

## <a id='add/remove-plugin-repository'></a>ADD/REMOVE PLUGIN REPOSITORY
Name   |   Description
------------|------------
   add-plugin-repo  |  Add a new plugin repository
   remove-plugin-repo  |  Remove a plugin repository
   list-plugin-repos  |  list all the added plugin repository
   repo-plugins  |  List all available plugins in all added repositories

## <a id='add/remove-plugin'></a>ADD/REMOVE PLUGIN
Name   |   Description
------------|------------
   plugins  |  list all available plugin commands
   install-plugin  |  Install the plugin defined in command argument
   uninstall-plugin  |  Uninstall the plugin defined in command argument

## <a id='installed-plugin-commands'></a>INSTALLED PLUGIN COMMANDS

## <a id='environment-variables'></a>ENVIRONMENT VARIABLES
Name   |   Description
------------|------------
   CF_COLOR=false  |  Do not colorize output
   CF_HOME=path/to/dir/  |  Override path to default config directory
   CF_PLUGIN_HOME=path/to/dir/  |  Override path to default plugin config directory
   CF_STAGING_TIMEOUT=15  |  Max wait time for buildpack staging, in minutes
   CF_STARTUP_TIMEOUT=5  |  Max wait time for app instance startup, in minutes
   CF_TRACE=true  |  Print API request diagnostics to stdout
   CF_TRACE=path/to/trace.log  |  Append API request diagnostics to a log file
   HTTP_PROXY=proxy.example.com8080  |  Enable HTTP proxying for API requests


[Top](#router-groups
name---|---description
------------|------------
---router-groups--|--list-router-groups

##-<a-id='buildpacks'></a>buildpacks
name---|---description
------------|------------
---buildpacks--|--list-all-buildpacks
---create-buildpack--|--create-a-buildpack
---update-buildpack--|--update-a-buildpack
---rename-buildpack--|--rename-a-buildpack
---delete-buildpack--|--delete-a-buildpack

##-<a-id='user-admin'></a>user-admin
name---|---description
------------|------------
---create-user--|--create-a-new-user
---delete-user--|--delete-a-user
---org-users--|--show-org-users-by-role
---set-org-role--|--assign-an-org-role-to-a-user
---unset-org-role--|--remove-an-org-role-from-a-user
---space-users--|--show-space-users-by-role
---set-space-role--|--assign-a-space-role-to-a-user
---unset-space-role--|--remove-a-space-role-from-a-user

##-<a-id='org-admin'></a>org-admin
name---|---description
------------|------------
---quotas--|--list-available-usage-quotas
---quota--|--show-quota-info
---set-quota--|--assign-a-quota-to-an-org
---create-quota--|--define-a-new-resource-quota
---delete-quota--|--delete-a-quota
---update-quota--|--update-an-existing-resource-quota
---share-private-domain--|--share-a-private-domain-with-an-org
---unshare-private-domain--|--unshare-a-private-domain-with-an-org

##-<a-id='space-admin'></a>space-admin
name---|---description
------------|------------
---space-quotas--|--list-available-space-resource-quotas
---space-quota--|--show-space-quota-info
---create-space-quota--|--define-a-new-space-resource-quota
---update-space-quota--|--update-an-existing-space-quota
---delete-space-quota--|--delete-a-space-quota-definition-and-unassign-the-space-quota-from-all-spaces
---set-space-quota--|--assign-a-space-quota-definition-to-a-space
---unset-space-quota--|--unassign-a-quota-from-a-space

##-<a-id='service-admin'></a>service-admin
name---|---description
------------|------------
---service-auth-tokens--|--list-service-auth-tokens
---create-service-auth-token--|--create-a-service-auth-token
---update-service-auth-token--|--update-a-service-auth-token
---delete-service-auth-token--|--delete-a-service-auth-token
---service-brokers--|--list-service-brokers
---create-service-broker--|--create-a-service-broker
---update-service-broker--|--update-a-service-broker
---delete-service-broker--|--delete-a-service-broker
---rename-service-broker--|--rename-a-service-broker
---migrate-service-instances--|--migrate-service-instances-from-one-service-plan-to-another
---purge-service-offering--|--recursively-remove-a-service-and-child-objects-from-cloud-foundry-database-without-making-requests-to-a-service-broker
---purge-service-instance--|--recursively-remove-a-service-instance-and-child-objects-from-cloud-foundry-database-without-making-requests-to-a-service-broker
---service-access--|--list-service-access-settings
---enable-service-access--|--enable-access-to-a-service-or-service-plan-for-one-or-all-orgs
---disable-service-access--|--disable-access-to-a-service-or-service-plan-for-one-or-all-orgs

##-<a-id='security-group'></a>security-group
name---|---description
------------|------------
---security-group--|--show-a-single-security-group
---security-groups--|--list-all-security-groups
---create-security-group--|--create-a-security-group
---update-security-group--|--update-a-security-group
---delete-security-group--|--deletes-a-security-group
---bind-security-group--|--bind-a-security-group-to-a-space
---unbind-security-group--|--unbind-a-security-group-from-a-space
---bind-staging-security-group--|--bind-a-security-group-to-the-list-of-security-groups-to-be-used-for-staging-applications
---staging-security-groups--|--list-security-groups-in-the-staging-set-for-applications
---unbind-staging-security-group--|--unbind-a-security-group-from-the-set-of-security-groups-for-staging-applications
---bind-running-security-group--|--bind-a-security-group-to-the-list-of-security-groups-to-be-used-for-running-applications
---running-security-groups--|--list-security-groups-in-the-set-of-security-groups-for-running-applications
---unbind-running-security-group--|--unbind-a-security-group-from-the-set-of-security-groups-for-running-applications

##-<a-id='environment-variable-groups'></a>environment-variable-groups
name---|---description
------------|------------
---running-environment-variable-group--|--retrieve-the-contents-of-the-running-environment-variable-group
---staging-environment-variable-group--|--retrieve-the-contents-of-the-staging-environment-variable-group
---set-staging-environment-variable-group-pass-parameters-as-json-to-create-a-staging-environment-variable-group--|--set-running-environment-variable-group-pass-parameters-as-json-to-create-a-running-environment-variable-group

##-<a-id='feature-flags'></a>feature-flags
name---|---description
------------|------------
---feature-flags--|--retrieve-list-of-feature-flags-with-status-of-each-flag-able-feature
---feature-flag--|--retrieve-an-individual-feature-flag-with-status
---enable-feature-flag--|--enable-the-use-of-a-feature-so-that-users-have-access-to-and-can-use-the-feature.
---disable-feature-flag--|--disable-the-use-of-a-feature-so-that-users-have-access-to-and-can-use-the-feature.

##-<a-id='advanced'></a>advanced
name---|---description
------------|------------
---curl--|--executes-a-raw-request,-content-type-set-to-application/json-by-default
---config--|--write-default-values-to-the-config
---oauth-token--|--retrieve-and-display-the-oauth-token-for-the-current-session
---ssh-code--|--get-a-one-time-password-for-ssh-clients

##-<a-id='add/remove-plugin-repository'></a>add/remove-plugin-repository
name---|---description
------------|------------
---add-plugin-repo--|--add-a-new-plugin-repository
---remove-plugin-repo--|--remove-a-plugin-repository
---list-plugin-repos--|--list-all-the-added-plugin-repository
---repo-plugins--|--list-all-available-plugins-in-all-added-repositories

##-<a-id='add/remove-plugin'></a>add/remove-plugin
name---|---description
------------|------------
---plugins--|--list-all-available-plugin-commands
---install-plugin--|--install-the-plugin-defined-in-command-argument
---uninstall-plugin--|--uninstall-the-plugin-defined-in-command-argument

##-<a-id='installed-plugin-commands'></a>installed-plugin-commands

##-<a-id='environment-variables'></a>environment-variables
name---|---description
------------|------------
---cf_color=false--|--do-not-colorize-output
---cf_home=path/to/dir/--|--override-path-to-default-config-directory
---cf_plugin_home=path/to/dir/--|--override-path-to-default-plugin-config-directory
---cf_staging_timeout=15--|--max-wait-time-for-buildpack-staging,-in-minutes
---cf_startup_timeout=5--|--max-wait-time-for-app-instance-startup,-in-minutes
---cf_trace=true--|--print-api-request-diagnostics-to-stdout
---cf_trace=path/to/trace.log--|--append-api-request-diagnostics-to-a-log-file
---http_proxy=proxy.example.com## <a id='global-options'></a>GLOBAL OPTIONS
Name   |   Description
------------|------------
   --version, -v  |  Print the version
   --build, -b  |  Print the version of Go the CLI was built against
   --help, -h  |  Show help

